@tailwind base;
@tailwind components;
@tailwind utilities;

.sideIn {
  animation: sideIn 0.3s;
}
@keyframes sideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
