@tailwind base;
@tailwind components;
@tailwind utilities;

.sideIn {
  animation: sideIn 0.3s;
}
@keyframes sideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.loading--background {
  background: linear-gradient(to right, rgb(118, 118, 118), white);
  background-size: 200% auto;
  animation: gradientAnimation 2s linear infinite;
}
.styled-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.roll--hover:hover {
  animation: roll 0.5s forwards;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}

.triangle--right {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-top: 15px solid white;
}
