@tailwind base;
@tailwind components;
@tailwind utilities;

.sideIn {
  animation: sideIn 0.3s;
}
@keyframes sideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
